﻿#top-bar {
    background-image: url(/wp-content/uploads/2020/12/bg-top.png);
}

.header-top {
    background-color: #ff6a00 !important;
}

.header-top {
    min-height: 40px;
}

.header-top {
    background-color: var(--wp--preset--color--primary);
    min-height: 20px;
    position: relative;
    z-index: 11;
}

.header-bottom, .header-top {
    align-items: center;
    display: flex;
    flex-wrap: no-wrap;
}

#logo {
    width: 205px;
}

.logo-left .logo {
    margin-left: 0;
    margin-right: 30px;
}

.logo {
    line-height: 1;
    margin: 0;
}

.flex-col {
    display: flex;
    flex-direction: row;
}

.header-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-block {
    display: flex;
    flex-direction: row;
    align-items: center; /* Canh các phần tử theo chiều dọc */
}

.col {
    display: flex;
    flex-direction: row;
    flex-grow: 1; /* Phần tử này sẽ mở rộng ra để lấp đầy không gian còn trống */
}

.col-inner {
    width: 100%; /* Chiều rộng của nội dung trong cột */
}


/*footer*/
#footer {
    background-color: #333; /* Đổi màu nền */
    color: #fff; /* Đổi màu chữ */
    padding: 30px; /* Thêm padding */
}

.footer-section h4 {
    color: #fff; /* Đổi màu cho tiêu đề */
}

.footer-section p {
    color: #ccc; /* Đổi màu cho nội dung */
}

.footer-section ul li {
    list-style: none; /* Ẩn dấu chấm */
    margin-bottom: 10px; /* Tạo khoảng cách giữa các mục */
}

.social-icons a {
    margin-right: 10px; /* Tạo khoảng cách giữa các biểu tượng mạng xã hội */
}

    .social-icons a:hover {
        opacity: 0.8; /* Thay đổi độ mờ khi hover */
    }

.absolute-footer {
    background-color: #222; /* Đổi màu nền */
    padding: 20px; /* Thêm padding */
}

.copyright-footer {
    color: #ccc; /* Đổi màu chữ */
    font-size: 14px; /* Đổi kích thước chữ */
}

.back-to-top {
    background-color: #666; /* Đổi màu nút back-to-top */
    color: #fff; /* Đổi màu chữ nút back-to-top */
}

    .back-to-top:hover {
        background-color: #444; /* Đổi màu khi hover */
    }
