﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WebsiteThienPhat</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/WebsiteThienPhat.styles.css" asp-append-version="true" />
	<link href="~/css/stylelayout.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<link rel="stylesheet" href="style.css">
	@* <style>
		li[sty
		le="color: black"] {
			color: black !important;
		} *@
	</style>
</head>
<body>
    <header>
        <div class="t-header d-flex justify-content-around   ">
            <span class="fw-bold">Công ty TNHH Công nghệ Kỹ thuật Thiên Phát</span>
            <span class="fw-bold"><i class="fa-regular fa-envelope"></i> nguyentienphongthptnbk@gmail.com</span>
            <nav class="nav nav-pills">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-expanded="false"><i class="fa-solid fa-user fs-3 "></i></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="~/Image/">Đăng nhập </a></li>
                        <li><a class="dropdown-item" href="#">Đăng ký</a></li>

                        <!-- <li><hr class="dropdown-divider"></li> -->
                        <!-- <li><a class="dropdown-item" href="#">Separated link</a></li> -->
                    </ul>
                </li>
            </nav>
        </div>
        <div style="background-color: blanchedalmond;">
            <nav class="navbar bg-body-tertiary ">
                <div class="container">
                    <a class="navbar-brand" href="#">
						<img src="~/image/logo (1).jpg"  alt="Bootstrap" width="130" height="70" />
                    </a>
                    <ul class="nav  justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" aria-current="page" asp-controller="Product" asp-action="Index">Trang Chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5 nav" asp-controller="Product" asp-action="SanPham">Sản Phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" href="#">Tin Tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" href="#">Liên Hệ</a>
                        </li>

                    </ul>
                    <form id="searchForm" class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>

            </nav>
        </div>
    </header>
	
			@RenderBody()

    @*footer*@
    <footer id="footer" class="footer-wrapper">

        <section class="section footer-section dark" id="section_1641741594">
            <div class="bg section-bg fill bg-fill bg-loaded">


                <div class="section-bg-overlay absolute fill"></div>


            </div>



            <div class="section-content relative">


                <div class="row row-small" id="row-589667342">


                    <div id="col-863389019" class="col medium-4 small-12 large-4">
                        <div class="col-inner">




                            <div class="icon-box featured-box icon-box-top text-left">
                                <div class="icon-box-img" style="width: 152px">
                                    <div class="icon">
                                        <div class="icon-inner">
                                            <img width="300" height="190" src="https://thienphat2tech.vn/wp-content/uploads/2023/12/logo-300x190.jpg" class="attachment-medium size-medium" alt="" decoding="async" loading="lazy" srcset="https://thienphat2tech.vn/wp-content/uploads/2023/12/logo-300x190.jpg 300w, https://thienphat2tech.vn/wp-content/uploads/2023/12/logo-600x381.jpg 600w, https://thienphat2tech.vn/wp-content/uploads/2023/12/logo.jpg 627w" sizes="(max-width: 300px) 100vw, 300px">
                                        </div>
                                    </div>
                                </div>
                                <div class="icon-box-text last-reset">


                                    <h4 style="text-align: left;"><span style="color: #ffffff; font-size: 85%;">Công ty TNHH Công nghệ Kỹ thuật Thiên Phát</span></h4>
                                    <p style="text-align: left;"><span style="color: #c0c0c0; font-size: 85%;"><strong>Công ty TNHH Công nghệ Kỹ thuật Thiên Phát</strong> là đối tác đáng tin cậy trong lĩnh vực phân phối thiết bị công nghiệp tại Việt Nam. Chúng tôi tự hào là một doanh nghiệp hàng đầu, chuyên cung cấp các sản phẩm chất lượng cao, đáp ứng nhu cầu đa dạng của khách hàng trong ngành công nghiệp.</span></p>

                                </div>
                            </div>



                        </div>
                    </div>



                    <div id="col-155599834" class="col medium-4 small-12 large-4">
                        <div class="col-inner">



                            <h4><span style="color: #ffffff;">Hỗ trợ khách hàng</span></h4>
                            <div class="elementor-element elementor-element-1265e4c elementor-widget elementor-widget-text-editor" data-id="1265e4c" data-element_type="widget" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-text-editor elementor-clearfix">
                                        <ul id="menu-menu-ho-tro-kh" class="menu_footer">
                                            <li id="menu-item-194" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-194"><span style="color: #c0c0c0; font-size: 90%;"><a style="color: #c0c0c0;" href="/chinh-sach-bao-mat/">Chính sách bảo mật</a></span></li>
                                            <li><span style="color: #c0c0c0; font-size: 90%;"><a style="color: #c0c0c0;" href="/chinh-sach-doi-tra-hang/">Chính sách đổi trả hàng</a></span></li>
                                            <li><span style="color: #c0c0c0; font-size: 90%;"><a style="color: #c0c0c0;" href="/giao-hang-va-van-chuyen/">Giao hàng &amp; vận chuyển</a></span></li>
                                            <li id="menu-item-189" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-189"><span style="color: #c0c0c0; font-size: 90%;"><a style="color: #c0c0c0;" href="/mua-hang-va-thanh-toan/">Mua hàng và thanh toán</a></span></li>
                                            <li id="menu-item-190" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-190"><span style="color: #c0c0c0; font-size: 90%;"><a style="color: #c0c0c0;" href="/chinh-sach-bao-hanh/">Chính sách bảo hành &amp; sửa chữa</a></span></li>
                                            <li id="menu-item-192" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-192"><span style="color: #c0c0c0; font-size: 90%;"><a style="color: #c0c0c0;" href="/thoa-thuan-nguoi-dung/">Thỏa thuận người dùng</a></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="social-icons follow-icons full-width text-left"><a href="https://www.facebook.com/thienphattech" target="_blank" data-label="Facebook" class="icon primary button circle facebook tooltip tooltipstered" aria-label="Follow on Facebook" rel="noopener nofollow"><i class="icon-facebook"></i></a><a href="mailto:tptt.project@gmail.com" data-label="E-mail" target="_blank" class="icon primary button circle email tooltip" title="Send us an email" aria-label="Send us an email" rel="nofollow noopener"><i class="icon-envelop"></i></a><a href="tel:0974.301.481" data-label="Phone" target="_blank" class="icon primary button circle phone tooltip" title="Call us" aria-label="Call us" rel="nofollow noopener"><i class="icon-phone"></i></a><a href="https://www.youtube.com/user/ericknava2009" data-label="YouTube" target="_blank" class="icon primary button circle youtube tooltip" title="Follow on YouTube" aria-label="Follow on YouTube" rel="noopener nofollow"><i class="icon-youtube"></i></a></div>


                        </div>
                    </div>



                    <div id="col-662873661" class="col medium-4 small-12 large-4">
                        <div class="col-inner">



                            <h4>Thông tin liên hệ</h4>
                            <h4><span style="font-size: 85%;">CÔNG TY TNHH CÔNG NGHỆ KỸ THUẬT THIÊN PHÁT</span></h4>
                            <ul>
                                <li><span style="color: #c0c0c0; font-size: 90%;">Địa chỉ: 163/10 Thạnh Xuân 52, KP. 4, Phường Thạnh Xuân, Quận 12, TP. Hồ Chí Minh</span></li>
                                <li><span style="color: #c0c0c0; font-size: 90%;">Hotline: 0974.301.481</span></li>
                                <li><span style="color: #c0c0c0; font-size: 90%;">Email: tptt.project@gmail.com<br></span></li>
                                <li><span style="color: #c0c0c0; font-size: 90%;">Website: www.thienphat2tech.vn</span></li>
                            </ul>

                        </div>
                    </div>



                </div>

            </div>


            <style>
                #footer {
                    position: absolute; /* Đặt phần tử footer làm vị trí tương đối */
                    z-index: 1; /* Đảm bảo footer hiển thị trên phần tử overlay */
                    background-color: #333; /* Màu nền tạm thời */
                    color: #fff; /* Màu chữ */
                    padding: 30px; /* Padding */
                    background-image: url('image/banner3.jpg'); /* Đường dẫn đến hình ảnh */
                    background-size: cover; /* Hiển thị hình ảnh với kích thước tốt nhất */
                }

                .col-inner {
                    position: relative; /* Đặt phần tử col-inner làm vị trí tương đối */
                    z-index: 1; /* Đảm bảo nội dung trong col-inner hiển thị trên phần overlay */
                }

                .section-bg-overlay {
                    position: absolute; /* Đặt overlay làm vị trí tuyệt đối */
                    top: 0; /* Đặt overlay ở phía trên cùng */
                    left: 0; /* Đặt overlay ở phía trái */
                    width: 100%; /* Chiều rộng của overlay bằng với footer */
                    height: 100%; /* Chiều cao của overlay bằng với footer */
                    background-color: rgba(42, 42, 42, 0.95); /* Màu overlay */
                    z-index: 0; /* Đảm bảo overlay hiển thị dưới footer */
                }

                .absolute-footer {
                    background-color: rgba(42, 42, 42, 0.95); /* Màu nền của phần footer phía dưới */
                    padding: 20px; /* Padding */
                    position: relative; /* Đặt phần tử footer phía dưới làm vị trí tương đối */
                    z-index: 1; /* Đảm bảo footer phía dưới hiển thị dưới footer phía trên */
                }
            </style>
        </section>
        <br />

        <div class="absolute-footer dark medium-text-center small-text-center">
            <div class="container clearfix">


                <div class="footer-primary pull-left">
                    <div class="copyright-footer">
                        <center>Copyright 2024© Công ty TNHH Công nghệ Kỹ thuật Thiên Phát - Giấy phép kinh doanh số:  0315227396 do SKH &amp; ĐT HCM cấp ngày 16/08/2018 <br>Địa chỉ: 163/10 Thạnh Xuân 52, KP. 4, Phường Thạnh Xuân, Quận 12, TP. Hồ Chí Minh<br>Thiết kể bởi <b><a href="https://web.facebook.com/phong.nguyentien.7549185"> Nguyễn Tiến Phong</a></b></center>
                    </div>
                </div>
            </div>
        </div>

        <a href="#top" class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle active" id="top-link" aria-label="Go to top"><i class="icon-angle-up"></i></a>

    </footer>


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)


</body>

</html>

<script>
    
</script>

