﻿@model IEnumerable<WebsiteThienPhat.Models.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/wwwroot/css/stylelayout.css" rel="stylesheet" />

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/image/20.jpg" class="d-block w-100" alt=""
                 style="height: 700px ; object-fit: cover;" />
        </div>
        <div class="carousel-item">
            <img src="~/image/23.jpg" class="d-block w-100" alt=""
                 style="height: 700px ; object-fit: cover;" />
        </div>
        <div class="carousel-item">
            <img src="~/image/24.jpg"
                 class="d-block w-100" alt=""
                 style="height: 700px ; object-fit: cover;" />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<section class="container mt-5">
    <h2 class="text-center ">Danh Mục Sản phẩm </h2>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@product.ImageUrl" class="card-img-top" alt="Product Image" style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <div class="d-flex">
                            <span>Price: </span>
                            <p class="mx-3">@product.Price.ToString("#,##0") $</p>
                        </div>
                        <p class="card-text">Category: @product.Category.Name</p>
                        <a href="@Url.Action("Display", new { id = product.Id })" class="btn btn-primary">View</a>
                        @if (User.IsInRole("Admin"))
                        {

                            <a href="@Url.Action("Update", new { id = product.Id })" class="btn btn-secondary">Edit</a>
                            <a href="@Url.Action("Delete", new { id = product.Id })" class="btn btn-danger">Delete</a>
                        }
                        @*   <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@product.Id" asp-route-quantity="@numOfQuantity">
                    <button class="btn btn-outline-dark">
                    <i class="bi-cart-fill me-1"></i> Add to Cart
                    </button>
                    </a> *@
                    </div>
                </div>
            </div>
        }
    </div>





</section>
<div style="background-color: #f6f6f6;">
    <section class="container mt-5 ">
        <h2 class="text-center pt-3 d-block">Sản Phẩm Bán Chạy</h2>
        <img class="mb-2 d-block m-auto" src="img/queng-png.png" alt="">
        <div class="row gap-3 flex-wrap">

            <div class="col-3 text-center shadow" style="width:310px;">
                <div class="" style=" border-radius: 10px; height: 310px;">
                    <img class="p-2 img-hover" style="border: 1px solid #fbe6e6 ; "
                    <img src="~/image/tp11.jpg" alt="" width="100%"
                         height="270px" />
                    <span class="mt-3 fw-medium d-block text-primary">TP01</span>
                </div>
            </div>
            <div class="col-3 text-center shadow" style="width:310px;">
                <div class="" style=" border-radius: 10px; height: 310px;">
                    <img class="p-2 img-hover" style="border: 1px solid #fbe6e6 ; "
                    <img src="~/image/tp13.jpg" alt="" width="100%"
                         height="270px" />
                    <span class="mt-3 fw-medium d-block text-primary">TP13</span>
                </div>
            </div>
            <div class="col-3 text-center shadow" style="width:310px;">
                <div class="" style=" border-radius: 10px; height: 310px;">
                    <img class="p-2 img-hover" style="border: 1px solid #fbe6e6 ; "
                    <img src="~/image/tp14.jpg" alt="" width="100%"
                         height="270px" />
                    <span class="mt-3 fw-medium d-block text-primary">TP14</span>
                </div>
            </div>
            <div class="col-3 text-center shadow" style="width:310px;">
                <div class="" style=" border-radius: 10px; height: 310px;">
                    <img class="p-2 img-hover" style="border: 1px solid #fbe6e6 ; "
                    <img src="~/image/tp15.jpg" alt="" width="100%"
                         height="270px" />
                    <span class="mt-3 fw-medium d-block text-primary">TP17</span>
                </div>
            </div>
            <div class="col-3 text-center shadow" style="width:310px;">
                <div class="" style=" border-radius: 10px; height: 310px;">
                    <img class="p-2 img-hover" style="border: 1px solid #fbe6e6 ; "
                         src="img/z2232234309008_88f0e5b2d1887dad4eb1576f83f00429.jpg" alt="" width="100%"
                         height="270px">
                    <span class="mt-3 fw-medium d-block text-primary">TP01</span>
                </div>
            </div>
            <div class="col-3 text-center shadow" style="width:310px;">
                <div class="" style=" border-radius: 10px; height: 310px;">
                    <img class="p-2 img-hover" style="border: 1px solid #fbe6e6 ; "
                         src="img/z2232234309008_88f0e5b2d1887dad4eb1576f83f00429.jpg" alt="" width="98%"
                         height="250px">
                    <span class="mt-3 fw-medium d-block text-primary">TP01</span>
                </div>
            </div>
            <div class="col-3 text-center shadow" style="width:310px;">
                <div class="" style=" border-radius: 10px; height: 310px;">
                    <img class="p-2 img-hover" style="border: 1px solid #fbe6e6 ; "
                         src="img/z2232234309008_88f0e5b2d1887dad4eb1576f83f00429.jpg" alt="" width="98%"
                         height="250px">
                    <span class="mt-3 fw-medium d-block text-primary">TP01</span>
                </div>
            </div>
            <div class="col-3 text-center shadow" style="width:310px;">
                <div class="" style=" border-radius: 10px; height: 310px;">
                    <img class="p-2 img-hover" style="border: 1px solid #fbe6e6 ; "
                         src="img/z2232234309008_88f0e5b2d1887dad4eb1576f83f00429.jpg" alt="" width="98%"
                         height="250px">
                    <span class="mt-3 fw-medium d-block text-primary">TP01</span>
                </div>
            </div>


        </div>
    </section>
</div>


