﻿
@{
    ViewData["Title"] = "SanPham";
}

<h2 class="text-center ">Danh Mục Sản phẩm </h2>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@product.ImageUrl" class="card-img-top" alt="Product Image" style="max-height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <div class="d-flex">
                        <span>Price: </span>
                        <p class="mx-3">@product.Price.ToString("#,##0") $</p>
                    </div>
                    <p class="card-text">Category: @product.Category.Name</p>
                    <a href="@Url.Action("Display", new { id = product.Id })" class="btn btn-primary">View</a>
                    @if (User.IsInRole("Admin"))
                    {

                        <a href="@Url.Action("Update", new { id = product.Id })" class="btn btn-secondary">Edit</a>
                        <a href="@Url.Action("Delete", new { id = product.Id })" class="btn btn-danger">Delete</a>
                    }
                    @*   <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@product.Id" asp-route-quantity="@numOfQuantity">
                <button class="btn btn-outline-dark">
                <i class="bi-cart-fill me-1"></i> Add to Cart
                </button>
                </a> *@
                </div>
            </div>
        </div>
    }
</div>

