﻿
@{
    ViewData["Title"] = "Seach";
}

@model IEnumerable<WebsiteThienPhat.Models.Product>

<!-- Giao diện Người dùng: Ô tìm kiếm và nút tìm kiếm -->
<form method="get">
    <input type="text" name="searchTerm" placeholder="Tìm kiếm sản phẩm">
    <button type="submit">Tìm kiếm</button>
</form>

<!-- Hiển thị kết quả tìm kiếm -->
@foreach (var product in Model)
{
    <div>
        <h2>@product.Name</h2>
        <p>@product.Description</p>
        <p>Giá: @product.Price</p>
    </div>
}

