﻿@model WebsiteThienPhat.Models.Category
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Add";
}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Add Category</h2>
        </div>
    </div>
</div>

<form asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group row">
        <label for="Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Add</button>
            <a asp-action="Index" class="btn btn-primary">Quay lại</a>
        </div>
    </div>
</form>


